entry, combo box text {
    background-color: @theme_base_color;
    border: 1px solid shade(@theme_bg_color, 0.8);
    border-radius: 3px;
    color: @theme_text_color;
    padding: 5px 8px;
}

entry:focus {
    border-color: @theme_selected_bg_color;
}
