scrollbar {
    /* Color of the slider */
    background-color: shade(@theme_bg_color, 0.9);
}
scrollbar slider {
    /* The draggable part */
    background-color: shade(@theme_bg_color, 0.7);
    border-radius: 5px;
    min-width: 10px;
    min-height: 10px;
}
scrollbar slider:hover {
    background-color: shade(@theme_bg_color, 0.6);
}
