[user]
    email = mail@maxgenson.de
    username = backtail
    name = Max Genson
[checkout]
    defaultRemote = origin
[core]
    excludesfile = ~/.config/git/ignore
[diff]
    external = difft

[includeIf "gitdir:~/dev/KOMA/**"]
    path = ~/dev/KOMA/.gitconfig
